/* Global stilar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header stili */
header {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    font-size: 24px;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav label {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

nav ul.menu {
    list-style-type: none;
    display: none;
    margin: 0;
    padding: 0;
}

nav ul.menu li {
    margin: 0;
}

nav ul.menu li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav ul.menu li a:hover {
    background-color: #555;
}

/* Asosiy qism stili */
main {
    margin-top: 100px;
    padding-bottom: 50px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Footer stili */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    margin-right: 10px;
}

.social-icon:last-child {
    margin-right: 0;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    nav {
        margin-top: 10px;
    }

    nav label {
        margin-left: 0;
        margin-right: 10px;
    }

    nav ul.menu {
        display: block;
        margin-top: 10px;
    }

    nav ul.menu li {
        margin-bottom: 10px;
    }

    main {
        margin-top: 150px;
    }

    .container {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }

    .social-media {
        flex-wrap: wrap;
    }

    .social-icon {
        margin-bottom: 10px;
    }
}
